:root {
  --body-bg: rgb(186, 205, 226);
  --color-dark: #2a2a2a;
  --color-orange: orangered;
  --text-color: var(--color-dark);
  --border-color: var(--color-dark);

  --dark-bg: var(--color-dark);
  --dark-text-color: white;

  --shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.464);
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1000px;
}
.flex {
  display: flex;
  gap: 1rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  gap: 1rem;
}
a {
  text-decoration: none;
  color: inherit;
}
.title {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  text-decoration: underline red;
  text-underline-offset: 10px;
}

.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
}

/* Navbar */

nav {
  box-shadow: var(--shadow);
  padding: 1rem 0;
  position: sticky;
  top: 0px;
  background-color: var(--body-bg);
}
nav .navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1rem o;
}
.name {
  position: relative;
  font-size: 1.3rem;
}
.name :first-child {
  font-size: 2rem;
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 1rem;
}
.line::before {
  content: "";
  background: var(--color-orange);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 35%;
}
.navigation {
  list-style: none;
  font-weight: bold;
}
.navigation li:hover {
  color: var(--color-orange);
  transform: scale(1.3);
  transition: all 0.5s;
}

[for="dark"] {
  position: fixed;
  top: 7rem;
  left: 60px;
}

[for="dark"]:hover {
  transform: scale(1.5);
  transition: 0.3s;
}

#dark:checked + .wrapper {
  --body-bg: var(--color-dark);
  color: white;
}
#dark {
  display: none;
}

/* Hero section */

.hero {
  margin-top: 5rem;

  padding-top: 10rem;
}
.detail {
  background: var(--color-orange);

  box-shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.464);
  grid-template-areas: "left right";
  padding: 2rem;
}

.left {
  grid-area: left;
  flex-direction: column;
  margin-left: 10vw;
  justify-content: center;
}
strong {
  font-weight: bold;
  font-size: 1.3rem;
}
.occ {
  font-size: 2.2rem;
  font-weight: bolder;
  letter-spacing: 5px;
}
.left button {
  background-color: var(--dark-bg);
  color: var(--dark-text-color);
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.right {
  grid-area: right;
  justify-content: flex-end;
  align-items: left;
  margin-top: -9rem;
}

.right > img {
  /* width: 100%; */

  height: 115%;
}

/* <!-- Banner --> */

.banner {
  margin-top: 7rem;
  border: 2px solid var(--border-color);

  box-shadow: var(--shadow);
  padding: 2rem;

  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 30px;

  /* .banner {
    margin-top: 7rem;
    border: 2px solid var(--border-color);
    box-shadow: var(--shadow);
    padding: 2rem;
    border-radius: 50px;

    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  } */
}

.info-divider {
  background: grey;
  width: 2px;
  height: 60px;
}
.banner1 {
  align-items: center;
  margin-left: 10px;
}
.banner2 {
  align-items: center;
}
.banner3 {
  align-items: center;

  margin-right: 10px;
}
.banner i {
  zoom: 1.5;
  color: var(--color-orange);
}
.banner p {
  color: var(--color-orange);
  margin-top: -15px;
  font-size: smaller;
}
.banner hr {
  color: black;
}
.banner h4 {
  letter-spacing: 5px;
}

/* <!-- Skills --> */
.skills {
  padding-top: 7rem;
}

.skill-content {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-content i {
  margin-top: 2rem;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}
.skill-content p {
  margin-left: 15px;
}

/* <!-- Projects --> */
.projects {
  padding-top: 8rem;
}
.projects .project-container {
  margin-top: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
.project-card {
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding-bottom: 1rem;
}

.bottom .links {
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
}

/* <!-- About me  --> */

.about {
  margin-top: 3rem;
  padding-top: 9rem;

  background: rgba(87, 148, 87, 0.61);
  padding-bottom: 2rem;
}
.about-left img {
  padding-right: 10rem;
  padding-top: 4rem;
}
.about .about-content {
  justify-content: space-between;
}
.about-right h2 {
  margin-top: 4rem;
}
.int {
  word-spacing: 2rem;
}

.swap {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
}
.swap .icon {
  display: none;
}
.swap:hover .text {
  display: none;
}
.swap:hover .icon {
  display: inline-block;
  transform: scale(1.3);
  transition: all 0.4s;
}

/* <!-- contact me  --> */
.contact-me {
  margin-top: 7rem;
}
.contact {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 50px;
  gap: 2rem;
}

.contact-me span {
  font-size: 1.5rem;
}
.emailcontact {
  padding: 1rem;
  margin-top: 2rem;
  background: var(--color-dark);
  border-radius: 50px;
  color: white;
}
.emailcontact span {
  font-size: 1.5rem;
}
.email-logo {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-orange);
  border-radius: 50%;
}
/* <!-- footer area --> */
footer {
  min-height: 30vh;
  background: black;
  margin-top: 4rem;
  color: white;
  text-align: center;
  padding-bottom: 3rem;
}
.footer {
  width: 400px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  grid-template-areas: "links social";
}

.links {
  grid-area: "links";
  flex-direction: column;
  gap: 5px;
}
.social {
  grid-area: "social";
  flex-direction: column;
  gap: 5px;
}
.goup {
  color: white;
  font-size: 50px;
  background: var(--color-orange);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  bottom: 50px;
}
#hamburger {
  display: none;
}
[for="hamburger"] {
  display: none;
}

/* media query */

@media (max-width: 768px) {
  [for="hamburger"] {
    display: block;
    cursor: pointer;
  }
  .menu {
    position: absolute;
    background: var(--body-bg);
    width: 250px;
    height: 100vh;
    top: 3.7rem;
    box-shadow: var(--shadow);
    left: 100vw;
    transition: all 0.5s;
  }
  .menu .navigation {
    flex-direction: column;
    font-size: 1.3rem;
  }
  .menu .navigation li {
    line-height: 2.5rem;
  }

  #hamburger:checked + .menu {
    left: calc(100vw - 250px);
  }

  .detail {
    grid-template-areas:
      " right"
      "left";
    margin-bottom: 10rem;
  }
  .detail .right {
    justify-content: center;
    align-items: center;
  }
  .right > img {
    /* width: 100%; */
    height: 80%;
  }

  .banner {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20%;
  }

  .info-divider {
    display: none;
  }
  .projects .project-container {
    grid-template-columns: 1fr;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }
  .about-left img {
    width: 100%;
  }
}
