:root {
  --body-bg: rgb(186, 205, 226);
  --color-dark: #2a2a2a;
  --color-orange: orangered;
  --text-color: var(--color-dark);
  --border-color: var(--color-dark);

  --dark-bg: var(--color-dark);
  --dark-text-color: white;

  --shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.464);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1000px;
}
.flex {
  display: flex;
  gap: 1rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  gap: 1rem;
}
a {
  text-decoration: none;
  color: inherit;
}
.title {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  text-decoration: underline red;
  text-underline-offset: 10px;
}

.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
}

/* Navbar */

/* .dancing-script-title {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
nav {
  box-shadow: var(--shadow);
  padding: 1rem 0;
  position: sticky;
  top: 0px;
  background-color: var(--body-bg);
}
nav .navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1rem o;
}
.name {
  position: relative;
  font-size: 1.3rem;
}
.name :first-child {
  font-size: 2rem;
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 1rem;
}
.line::before {
  content: "";
  background: var(--color-orange);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 35%;
}
.navigation {
  list-style: none;
  font-weight: bold;
}
.navigation li:hover {
  color: var(--color-orange);
  transform: scale(1.3);
  transition: all 0.5s;
}

[for="dark"] {
  position: fixed;
  top: 7rem;
  left: 60px;
}

[for="dark"]:hover {
  transform: scale(1.5);
  transition: 0.3s;
}

#dark:checked + .wrapper {
  --body-bg: var(--color-dark);
  color: white;
}
#dark {
  display: none;
}

/* Hero section */

.hero {
  margin-top: 5rem;
  max-height: 60vh;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.464);
}
.detail {
  background: var(--color-orange);
  grid-template-areas: "left right";
}

.left {
  grid-area: left;
  flex-direction: column;
  margin-left: 10vw;
  justify-content: center;
}
strong {
  font-weight: bold;
  font-size: 1.3rem;
}
.occ {
  font-size: 2.2rem;
  font-weight: bolder;
  letter-spacing: 5px;
}
.left button {
  background-color: var(--dark-bg);
  color: var(--dark-text-color);
  padding: 0.8rem 2.2rem;
  border: none;
  border-radius: 10px;
}

.right {
  grid-area: right;
  justify-content: flex-end;
  align-items: left;
  margin-top: -6rem;
}

.right > img {
  /* width: 100%; */
  height: 105%;
}

/* <!-- Banner --> */

.banner {
  margin-top: 7rem;
  border: solid 2px var(--border-color);
  border-radius: 30px;
  box-shadow: var(--shadow);
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.info-divider {
  background: grey;
  width: 2px;
  height: 60px;
}
.banner1 {
  align-items: center;
  margin-left: 10px;
}
.banner2 {
  align-items: center;
}
.banner3 {
  align-items: center;

  margin-right: 10px;
}
.banner i {
  zoom: 1.5;
  color: var(--color-orange);
}
.banner p {
  color: var(--color-orange);
  margin-top: -15px;
  font-size: smaller;
}
.banner hr {
  color: black;
}
.banner h4 {
  letter-spacing: 5px;
}

/* <!-- Skills --> */
.skills {
  margin-top: 7rem;
}

.skill-content {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-content i {
  margin-top: 2rem;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}
.skill-content p {
  margin-left: 15px;
}

/* <!-- Projects --> */
.projects {
  margin-top: 5rem;
}
.projects .project-container {
  margin-top: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
.project-card {
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding-bottom: 1rem;
}

.bottom .links {
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
}
/* <!-- About me  --> */
/* <!-- contact me  --> */
/* <!-- footer area --> */
footer {
  min-height: 30vh;
  background: black;
  margin-top: 4rem;
  color: white;
}
